<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="Default" connectionString="DataSource=server;DefaultCollection=default_lib;Naming=SQL;UserID=user;Password=pass" providerName="IBM.Data.DB2.iSeries"/>
	</connectionStrings>
	<system.data>
		<DbProviderFactories>
			<!--<add name="IBM DB2 for i5/OS .NET Provider" invariant="IBM.Data.DB2.iSeries" description=".NET Framework Data Provider for i5/OS" type="IBM.Data.DB2.iSeries.iDB2Factory, IBM.Data.DB2.iSeries, Version=12.0.0.0, Culture=neutral, PublicKeyToken=9cdb2ebfb1f93a26"/>-->
		</DbProviderFactories>
	</system.data>
	<startup/></configuration>
